<div class="entries-container">
  <div class="entry-date"><%= @date.to_s :long %></div>
  <% @entries.each do |entry| %>
    <div class="entry">
      <div class="author-name"><%= entry.author_name %></div>
      <div class="entry-editor" style="background-color: <%= entry.user.bg_color %>; color: <%= entry.user.fg_color %>;" data-url="<%= entry_path(entry) %>" current-user="<%= entry.author_name %>"><%= entry.text.html_safe %></div>
    </div>  
  <% end %>
</div>