<div class="header">
  <div class="logo"><a href="/"><%= image_tag image_path('duo_circles.png') %></a></div>
  <div class="entry-date datepicker">
    <a data-toggle><%= @date.to_s :long %></a>
    <input data-input />
  </div>
  <div class="user-details">
    <span><%= current_user.name %></span>
    <%= link_to 'logout', destroy_user_session_path, :method => :delete, class: 'logout' %>
  </div>
</div>
<div class="entries-container">
  <div class="entry-authors active">
    <div class="author-name" data-entry="#entry_<%= @entries.first.id %>"><%= @entries.first.author_name %></div>
  </div>
  <div class="entry-authors">
    <div class="author-name" data-entry="#entry_<%= @entries.second.id %>"><%= @entries.second.author_name %></div>
  </div>

  <div class="entry active" id="entry_<%= @entries.first.id %>">
    <div class="entry-editor" data-url="<%= entry_path(@entries.first) %>" data-disabled="<%= editing_locked?(@entries.first) %>"><%= @entries.first.text.html_safe %></div>
  </div>
  <div class="entry" id="entry_<%= @entries.second.id %>">
    <div class="entry-editor" data-url="<%= entry_path(@entries.second) %>" data-disabled="<%= editing_locked?(@entries.second) %>"><%= @entries.second.text.html_safe %></div>
  </div>
</div>