<div class="header">
  <div class="logo"><%= image_tag image_path('duo_circles.png') %></div>
  <div class="entry-date datepicker">
    <a data-toggle><%= @date.to_s :long %></a>
    <input data-input />
  </div>
</div>
<div class="entries-container">
  <% @entries.each do |entry| %>
    <div class="entry">
      <div class="author-name"><%= entry.author_name %></div>
      <div class="entry-editor" style="background-color: <%= entry.user.bg_color %>; color: <%= entry.user.fg_color %>;" data-url="<%= entry_path(entry) %>" current-user="<%= entry.author_name %>"><%= entry.text.html_safe %></div>
    </div>  
  <% end %>
</div>