<div class="page-center is-responsive">

  <div class="logo-container">
    <%= image_tag image_path('logo.png') %>
  </div>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "auth-form"}) do |f| %>

    <p type="Email">
      <%= f.email_field :email, autofocus: true %>
    </p>
    <p type="Password">
      <%= f.password_field :password%>
    </p>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
    
    <div class="actions">
      <%= link_to('Sign Up', new_user_registration_path)  %>
    </div>
  <% end %>
</div>